body{
    background-color: #F9F9F9;
}

.container{
    margin-top: 20px;
}

.card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.align-items-center{
    align-items: center;
}

.no-gutters{
    margin-left: 0;
    margin-right: 0;

}


.card {
    border-radius: 10px !important;
}
.card-header {
    border-top-right-radius: 10px !important;
}