body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    background-image: url(./img/Furniture.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 960px;
}

.header-area {
    padding-top: 120px;
}