{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'dsahboardstyle.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Chart js CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-light bg-light py-0">
        <div class="container mt-0">
            <!--logo-->
            <a class="navbar-brand" href="{% url 'dashboard:home' %}">
                <img src="{% static 'img/superstore-logo.svg' %}" alt="" width="172" height="35">
            </a>
            <!--menu-->
            <div class="navbar-nav d-flex flex-row">
                <a class="nav-link px-2 " aria-current="page" href="{% url 'dashboard:home' %}">Home</a>
                <a class="nav-link active text-primary px-2" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
            </div>
        </div>
    </nav>
    <!-- Action Bar -->
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
            <h1 class="h3 mb-0 ">{{message}}</h1>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Budget {% if year %} {{ year }} {% else %} All {% endif %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'dashboard:dashboard' %}">All</a></li>
                    {% for year in filter_years %}
                        <li><a class="dropdown-item" href="{% url 'dashboard:dashboard' %}?year={{ year }}">{{ year }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <!-- Content Row -->
        <div class="row">

            <!-- Total Sales-->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-primary text-uppercase mb-1">
                                    Total Sales</div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800">${{sale.sales__sum|floatformat:2}}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Total Profit -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-success text-uppercase mb-1">
                                    Total Profit</div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800">
                                    ${{profit.profit__sum|floatformat:2}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Total Margin -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-info text-uppercase mb-1">
                                    Profit Margin</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h3 mb-0 font-weight-bold text-gray-800">
                                            {{profitmargin.price_diff|floatformat:2}}%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Orders -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-warning text-uppercase mb-1">
                                    Orders</div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800">{{order}}</div>
                                <!--<div class="mb-0 font-weight-bold "><small>Product ID: 10,302</small></div>-->
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-xl-12 col-lg-7">
            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Sales Each Year</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart" height="350px"></canvas>
                    </div>
                    <hr>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">


            <div class="col-xl-6 col-lg-7">

                <!-- Area Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Product Category Sales</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Categery</th>
                                        <th scope="col">Sales</th>
                                        <th scope="col">Profit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Office Supplies</td>
                                        <td>${{Officesales.sales__sum|floatformat:2}}</td>
                                        <td>${{Officeprofit.profit__sum|floatformat:2}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Furniture</td>
                                        <td>${{furnituresales.sales__sum|floatformat:2}}</td>
                                        <td>${{furnitureprofit.profit__sum|floatformat:2}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Technology</td>
                                        <td>${{technologysales.sales__sum|floatformat:2}}</td>
                                        <td>${{technologyprofit.profit__sum|floatformat:2}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <hr>

                    </div>
                </div>

            </div>

            <!-- Bar Chart -->
            <div class="col-xl-6 col-lg-7">
                <div class="card shadow pb-3">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <h6 class="pt-1 font-weight-bold text-primary">TOP 5 : Product Sub-Category Sales</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myBarChart2014"></canvas>
                        </div>
                        <hr>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Footer-->
    <footer class="container text-center mb-3 border-top">
        <small class="text-center text-secondary">
            Copyright © Superstore Company 2021. All rights reserved.
        </small>
    </footer> 


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'chart.js/Chart.bundle.js' %}"></script>
    <script src="{% static 'chart.js/Chart.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <!-- Page level plugins -->
    <script src="{% static 'chart.js/Chart.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <!-- <script src="{% static 'js/chart-area-demo.js' %}"></script> -->
    <script src="{% static 'js/chart-bar-demo.js' %}"></script>
    <script src="{% static 'js/chart-bar-demo-2014.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
            Chart.defaults.global.defaultFontColor = '#858796';

            // Area Chart Example
            var ctx = document.getElementById("myAreaChart");
            var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ graph_labels|safe }},
                datasets: [{
                label: "Earnings",
                lineTension: 0.3,
                backgroundColor: "rgba(78, 115, 223, 0.05)",
                borderColor: "rgba(78, 115, 223, 1)",
                pointRadius: 3,
                pointBackgroundColor: "rgba(78, 115, 223, 1)",
                pointBorderColor: "rgba(78, 115, 223, 1)",
                pointHoverRadius: 3,
                pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                pointHitRadius: 4,
                pointBorderWidth: 2,
                data: {{ graph_values|safe }},
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
                },
                scales: {
                xAxes: [{
                    time: {
                    unit: 'date'
                    },
                    gridLines: {
                    display: false,
                    drawBorder: false
                    },
                    ticks: {
                    maxTicksLimit: 7
                    }
                }],
                yAxes: [{
                    ticks: {
                    maxTicksLimit: 5,
                    padding: 10,
                    // Include a dollar sign in the ticks
                    callback: function(value, index, values) {
                        return '$' + number_format(value);
                    }
                    },
                    gridLines: {
                    color: "rgb(234, 236, 244)",
                    zeroLineColor: "rgb(234, 236, 244)",
                    drawBorder: false,
                    borderDash: [2],
                    zeroLineBorderDash: [2]
                    }
                }],
                },
                legend: {
                display: false
                },
                tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                intersect: false,
                mode: 'index',
                caretPadding: 10,
                callbacks: {
                    label: function(tooltipItem, chart) {
                    var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                    return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                    }
                }
                }
            }
            });

        });
    </script>

</body>

</html>