{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superstore</title>
    <link rel="stylesheet" href="{% static 'indexstyle.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-light bg-light py-0">
        <div class="container mt-0">
            <!--logo-->
            <a class="navbar-brand" href="{% url 'dashboard:home' %}">
                <img src="{% static 'img/superstore-logo.svg' %}" alt="" width="172" height="35">
            </a>
            <!--menu-->
            <div class="navbar-nav d-flex flex-row">
                <a class="nav-link active text-primary px-2 " aria-current="page" href="{% url 'dashboard:home' %}">Home</a>
                <a class="nav-link px-2" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
            </div>
        </div>
    </nav>

    <header class="header">
        <div class="container">
            <div class="header-area">
                <h1 class="display-1 text-white">Welcome to Superstore Dashboard</h1>
                <p class="lead text-white">Office Supplies, Furniture and Technology </p>
                <a class="btn btn-primary btn-lg mt-4 " href="{% url 'dashboard:dashboard' %}" role="button">Go to Dashboard</a>
            </div>
        </div>
    </header>
    <!--Footer-->
    <footer class="container text-center mb-3 border-top">
        <small class="text-center text-secondary">
            Copyright © Superstore Company 2021. All rights reserved.
        </small>
    </footer> 

    
</body>
</html>